.popupBody {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: clamp(300px, 100%, 800px);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popupBody > h2 {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}

.cartTable {
  min-width: 600px;
  width: 100%;
  max-height: 400px;
  overflow: auto;
  text-align: center;
}
.cartTable > * {
  min-width: 500px;
  overflow: auto;
}

.cartTable th,
.cartTable td {
  padding: 10px;
}
.cartTable tr {
  height: 40px;
}

.cartTable thead tr {
  background-color: rgb(23, 69, 84);
  color: white;
  font-size: 1rem;
  height: 50px;
}

.cartTable tbody tr:nth-child(odd) {
  background-color: #d6d6d6;
}
.cartTable tbody tr:nth-child(even) {
  background-color: #c6c7c8;
}
.deleteButton {
  color: red;
}
.deleteButton:hover {
  cursor: pointer;
}
.cartTable tbody tr.showDeleteAnimation,
.cartTable tbody tr.showDeleteAnimation td {
  animation: deleteItem 800ms ease-in-out 0s 1 normal forwards;
  overflow: hidden;
}
@keyframes deleteItem {
  0% {
    opacity: 1;
    font-size: inherit;
  }
  50% {
    opacity: 0;
  }
  100% {
    font-size: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    height: 0;
  }
}

.quantityCell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.quantityCell > p {
  margin: 5px;
}
.quantityCell > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: rgb(63, 63, 63);
  color: white;
  border-radius: 20%;
  width: 20px;
  aspect-ratio: 1 / 1;
}
.quantityCell > button:hover {
  background-color: rgb(34, 34, 34);
}

.priceTotal {
  font-size: 1.9rem;
}
.priceTotal > span {
  color: rgb(23, 69, 84);
  font-weight: 700;
  padding: 10px;
}
.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
}

.buttonsContainer > button {
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.checkoutButton {
  background-color: rgb(29, 109, 135);
  color: white;
}

.checkoutButton:hover {
  background-color: rgb(23, 85, 106);
}

.checkoutButton.disabledButton {
  background-color: gray;
}
.continueShoppingButton {
  background-color: #e9e9ed;
}
.continueShoppingButton:hover {
  background-color: #d4d4d4;
}
.cartBody {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1;
  border: none;
  background-color: #e9e9ed;
  color: rgb(29, 109, 135);
  display: flex;
  align-items: center;
  border-radius: 100px;
  overflow: visible;
  font-size: 1.9rem;
}

.buttonBody {
  position: relative;
  color: inherit;
  border-radius: inherit;
  background-color: inherit;
  border: none;
  font-size: inherit;
  display: flex;
  padding: 20px;
}
.cartProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  background-color: red;
  font-size: 0.9rem;
  z-index: 6;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.cartBody > p {
  text-align: left;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: 700;
  width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: all 1s;
}

.cartBody:hover > p {
  width: 200px;
}
