.productsBody {
  width: clamp(300px, 90%, 1000px);
  align-self: center;
  margin: 40px auto;
  text-align: center;
  overflow: hidden;
}

.spinnerContainer {
  text-align: center;
}
.productsTableContainer {
  overflow: auto;
}
.productsTableContainer > table {
  min-width: 800px;
  width: 100%;
}

.productsTableContainer thead {
  background-color: gray;
}
.productsTableContainer tr {
  height: 40px;
  transition: all 200ms;
}

.productsTableContainer thead tr {
  background-color: rgb(23, 69, 84);
  color: white;
  font-size: 1.3rem;
  height: 50px;
}
.productsTableContainer td,
.productsTableContainer th {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.productsTableContainer tbody tr:nth-child(odd) {
  background-color: #d6d6d6;
}
.productsTableContainer tbody tr:nth-child(even) {
  background-color: #c6c7c8;
}

.productsTableContainer tbody tr:hover {
  background-color: #5b98ae;
}

.productsTableContainer tbody tr.selectedItem {
  background-color: rgb(37, 109, 134);
  color: white;
  border: 1px solid gray;
}
.productsTableContainer td {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .productsBody {
    margin: 10px auto;
  }
}
