.sectionBody {
  padding: 20px;
  width: 80%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.spinnerContainer {
  text-align: center;
  height: max-content;
}

.galleryTitle {
  text-align: center;
  font-size: 2.3rem;
}
.galleryContainer {
  display: grid;
  flex: 1;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  justify-content: center;
  gap: 50px;
}

.popupBody {
  animation: flyUp 300ms ease-in-out 0s 1 normal forwards;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@keyframes flyUp {
  0% {
    opacity: 0;
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0px);
  }
}

.componentDetails {
  display: flex;
  gap: 20px;
}
.componentDetails > img {
  height: 500px;
}

.componentData {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.componentData > * {
  flex-shrink: 0;
}
.componentText {
  flex: 1;
}
.productTableContainer {
  max-width: 400px;
}
.productTableContainer table {
  width: 100%;
}
.productTableContainer thead {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}
.productTableContainer thead th {
  border: 1px solid white;
}
.productTableContainer th,
.productTableContainer td {
  padding: 10px;
}

.productTableContainer tbody tr:nth-child(even) {
  background-color: aliceblue;
}
.productTableContainer tbody tr:nth-child(odd) {
}
.productTableContainer tbody td {
  border: 1px solid rgb(187, 187, 187);
}
.componentText > .productTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.componentText > .productTitle > .name {
  font-weight: 600;
  font-size: 1.5rem;
}
.availableSt,
.soldSt,
.pendingSt {
  padding: 0;
  width: 80px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 20px;
  border: none;
}
.availableSt {
  background-color: green;
  color: white;
}
.soldSt {
  background-color: red;
  color: white;
}
.pendingSt {
  background-color: rgb(234, 234, 102);
  color: black;
}
.quantityContainer > label {
  text-align: center;
}
.quantityContainer input {
  width: clamp(50px, 50%, 70px);
  text-align: center;
  padding: 10px;
  outline: none;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.buttonsContainer > button {
  padding: 10px 30px;
  width: fit-content;
  border: none;
  border-radius: 10px;
}
.buyButton {
  background-color: var(--light-primary-color);
  color: white;
}
.buyButton:hover {
  background-color: var(--dark-primary-color);
}
.cancelButton {
  background-color: var(--secondary-color);
  color: black;
}
.cancelButton:hover {
  background-color: var(--dark-secondary-color);
}

@media screen and (max-width: 1800px) {
  .sectionBody {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .sectionBody {
    width: 95%;
  }
  .galleryContainer {
    padding: 20px 10px;
    gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  .sectionBody {
    width: 100%;
  }
  .galleryContainer {
    padding: 20px 5px;
    gap: 10px;
  }
}
