.cardContainer {
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  transition: all 200ms;
  background-color: white;
  max-width: 250px;
}

.cardContainer:hover {
  transform: scale(1.05);
}

.cardContainer > * {
  width: 100%;
}
.componentDescription {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardContainer > img {
  width: 100%;
  aspect-ratio: 5 / 3;
}

.cardText {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 1.3rem;
}

.price {
  margin: 0;
  font-weight: 700;
  font-size: 1.7rem;
  color: rgb(23, 69, 84);
  text-align: center;
}

.cardButtonsContainer {
  width: 100%;
  flex-shrink: 0;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cardButtonsContainer > button {
  margin: 10px auto;
  display: block;
  border: none;
  padding: 10px;

  font-weight: 700;
  border-radius: 10px;
  transition: all 200ms;
}
.cardButtonsContainer > button:hover {
  box-shadow: 1px 1px 10px 3px rgb(191, 191, 191);
  transform: scale(1.1);
}
.buyButton {
  background-color: rgb(23, 69, 84);
  color: white;
}
.detailsButton {
}

