.navbarBody {
  height: 100px;
  background-color: rgb(23, 69, 84);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbarBody > h2 {
  color: white;
  font-size: 2.5rem;
}

.navbarBody > img {
  height: 70px;
  margin: 20px;
  filter: invert(100%);
}
