.footerBody {
  height: 200px;
  background-color: rgb(23, 69, 84);
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 20px;
}

.footerContacts {
  width: 200px;
}
.footerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerLogo,
.contactsList {
  filter: invert(100%);
}
.contactsList {
  padding: 0;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.contactsList > li {
  width: 25%;
}
.contactsList img {
  width: 100%;
}

.footerColumn > ul {
  padding: 0;
  list-style: none;
}
.footerColumn > ul > li {
  margin: 10px;
  text-align: center;
}
.footerColumn a {
  color: white;
  text-decoration: none;
}

.footerColumn a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  .footerContacts {
    width: 130px;
  }
  .footerColumn > h2 {
    font-size: 1.3rem;
  }
}
